@import "_vars.scss";
@import "_design-system.scss";

// SPACING HELPER CLASSES OVERRIDES:
// These rules customize the spacing helpers defined in `spacing.sass` in the Bulma package

.is-marginless {
  margin: 0 !important;
}

.is-paddingless {
  padding: 0 !important;
}

$spacing-shortcuts: (
  "margin": "m",
  "padding": "p",
);
$spacing-directions: (
  "top": "t",
  "right": "r",
  "bottom": "b",
  "left": "l",
);
$spacing-horizontal: "x";
$spacing-vertical: "y";
$spacing-values: (
  "0": 0,
  "1": $spacing-01,
  "2": $spacing-02,
  "3": $spacing-03,
  "4": $spacing-04,
  "5": $spacing-05,
  "6": $spacing-06,
  "7": $spacing-07,
  "8": $spacing-08,
  "9": $spacing-09,
  "10": $spacing-10,
  "11": $spacing-11,
  "12": $spacing-12,
  "13": $spacing-13,
  "auto": auto,
);

@each $property, $shortcut in $spacing-shortcuts {
  @each $name, $value in $spacing-values {
    // All directions
    .#{$shortcut}-#{$name} {
      #{$property}: $value;
    }
    .#{$shortcut}-#{$name}-mobile {
      @include mobile {
        #{$property}: $value !important;
      }
    }
    // Cardinal directions
    @each $direction, $suffix in $spacing-directions {
      .#{$shortcut}#{$suffix}-#{$name} {
        #{$property}-#{$direction}: $value;
      }
      .#{$shortcut}#{$suffix}-#{$name}-mobile {
        @include mobile {
          #{$property}-#{$direction}: $value !important;
        }
      }
    }
    // Horizontal axis
    @if $spacing-horizontal != null {
      .#{$shortcut}#{$spacing-horizontal}-#{$name} {
        #{$property}-left: $value;
        #{$property}-right: $value;
      }
      .#{$shortcut}#{$spacing-horizontal}-#{$name}-mobile {
        @include mobile {
          #{$property}-left: $value !important;
          #{$property}-right: $value !important;
        }
      }
    }
    // Vertical axis
    @if $spacing-vertical != null {
      .#{$shortcut}#{$spacing-vertical}-#{$name} {
        #{$property}-top: $value;
        #{$property}-bottom: $value;
      }
      .#{$shortcut}#{$spacing-vertical}-#{$name}-mobile {
        @include mobile {
          #{$property}-top: $value !important;
          #{$property}-bottom: $value !important;
        }
      }
    }
  }
}

// OTHER BULMA OVERRIDES

/* 
  Make sure descendants of the .title class inherit it's font size properties.

  This is especially helpful when using "Rich Text" type content from Contentful, which
  by default provides content in <p> tags. This rule makes sure we can override the size
  of the text. 
*/
.title p {
  font-size: inherit;
}

/* Make grouped buttons same size */
.buttons {
  .button {
    flex: 1 1 0;
  }
}

/* Allow medium size buttons to go to two lines responsively */
.button.is-medium {
  white-space: normal;
  display: inline-table;
}

.button,
.social-icon,
.navbar-link,
.navbar-item,
.link,
.link-header {
  letter-spacing: 2px;
  transition: 0.3s;
}

.has-letters-spaced {
  letter-spacing: 0.1em;
}

.is-divider {
  border-top: 1px solid $justfix-black;

  &.light {
    border-top: 1px solid $justfix-white;
  }
}

.breadcrumb li + li::before {
  color: inherit;
}

// CUSTOM CLASSES

// For our full-height page heros, this variable defines how much
// the next section bleeds "above the fold"
$page-hero-offset: $spacing-06;

.jf-page-hero {
  min-height: calc(100vh - #{$navbar-height} - #{$page-hero-offset});

  @include mobile {
    min-height: unset;
  }

  .columns {
    width: 100%;

    .gatsby-image-wrapper {
      min-height: 375px;
    }

    .eyebrow {
      border-bottom: 1px solid $justfix-white;
    }

    // Let's reverse the orientation of this eyeborow border on hero's with images:
    .column.is-6 .eyebrow {
      border-bottom: none;
      border-top: 1px solid $justfix-white;
    }

    .column:first-child {
      border-right: 1px solid $justfix-white;

      @include mobile {
        border-right: none;
        border-bottom: 2px solid $justfix-white;
      }

      .eyebrow {
        width: 50%;
      }
    }

    li {
      list-style: none;
      // We need to indent the text to offset the margin between the bullet point and text
      // plus the width of the bullet
      text-indent: calc(-1 * #{$spacing-05 + $spacing-04});
      &::before {
        content: "▪";
        margin-right: $spacing-05;
        font-size: 1.5rem;
        vertical-align: middle;
      }
    }
  }
}

.is-absolute {
  position: absolute;
}

.is-horizontal-center {
  margin-left: auto;
  margin-right: auto;
}

.img-centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// With Gatsby <Img> className goes on a div and the actual
// <img> is nested within.
div.is-rounded img {
  border-radius: 50%;
}

.bold-shadow {
  text-shadow: 0.4px 0px 0.1px, -0.4px 0px 0.1px;
}

.jf-link-arrow-icon {
  width: 16px;
  height: 16px;
  transform: translateY(3px);
}

// When our arrow icon's on a black background, let's invert the colors
.has-background-black .jf-link-arrow-icon {
  filter: invert(1) contrast(1.3);
}

.jf-email-form {
  max-width: 400px;
  .button {
    background-color: $justfix-black;
    color: $justfix-white;
    border: 1px solid $justfix-white;

    &:focus,
    &:hover {
      background-color: $justfix-white;
      color: $justfix-black;
      transition: all 0.1s linear;
    }
  }
}

.jf-text-block-with-spacing {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: $spacing-06;
  }
}

.jf-accordion-item {
  details {
    summary {
      // Make question box feel clickable to user
      cursor: pointer;
      // Remove default marker
      list-style-type: none;
      &::-webkit-details-marker {
        display: none;
      }
      .jf-accordion-close-text-label {
        display: none;
      }
      .jf-accordion-open-text-label {
        display: block;
      }
    }

    &[open] summary {
      .jf-accordion-close-text-label {
        display: block;
      }
      .jf-accordion-open-text-label {
        display: none;
      }

      img {
        transition: transform 0.2s linear;
        transform: rotateX(0deg) translateY(-3px);
      }
    }
    &:not([open]) summary img {
      transition: transform 0.2s linear;
      transform: rotateX(180deg) translateY(0px);
    }
  }
}

.jf-cookies-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid $justfix-black;

  img {
    filter: invert(1) contrast(0.7);
  }

  .link {
    display: inline;
  }

  .button.is-text {
    width: 14px;
    height: 14px;
  }

  .modal {
    position: fixed;
    z-index: 30;

    .modal-background {
      background-color: $justfix-grey;
      opacity: 0.6;
    }

    .modal-content {
      z-index: 40;
      .has-background-white {
        border-radius: 4px;
      }
    }
  }
}
