@import "../../node_modules/bulma/sass/utilities/functions.sass";

// COLORS:

$justfix-black: #242323;
$justfix-white: #faf8f4;
$justfix-grey-dark: #676565;
$justfix-grey-light: #d4d5d0;

$justfix-green: #1aa551;
$justfix-pink: #ffa0c7;
$justfix-yellow: #ffba33;
$justfix-orange: #ff813a;
$justfix-blue: #5188ff;

$transparent: rgba(0, 0, 0, 0);

$primary: $justfix-blue;
$primary-invert: findColorInvert($primary);

$white: $justfix-white;
$black: $justfix-black;

$button-padding-horizontal: 1.5rem;

// TODO: Remove these old color variables:
$justfix-blue-lightened: #84c2e1;
$justfix-blue-white: #ebf9ff;

$link: $justfix-blue;
$info: #003d57;
$read-more: #37bc9b;

$warning: $justfix-yellow;
$warning-lightened: #ffefb2;
$warning-darkened: #f7c913;

// SPACING:

$spacing-01: 0.125rem;
$spacing-02: 0.25rem;
$spacing-03: 0.5rem;
$spacing-04: 0.75rem;
$spacing-05: 1rem;
$spacing-06: 1.5rem;
$spacing-07: 2rem;
$spacing-08: 2.5rem;
$spacing-09: 3rem;
$spacing-10: 4rem;
$spacing-11: 5rem;
$spacing-12: 6rem;
$spacing-13: 10rem;

// NAVBAR STYLES:

$navbar-height: 7rem;
$navbar-height-mobile: 4.375rem;

// Since we want our navbar to always show the hamburger menu, let's set
// the navbar breakpoint to be impossibly high:
$navbar-breakpoint: 10000px;
