@import "../../node_modules/bulma/sass/utilities/functions.sass";

$justfix-white: #faf8f4;
$justfix-black: #242323;
$justfix-grey: #d4d5d0;

$justfix-green: #1aa551;
$justfix-pink: #ffa0c7;
$justfix-yellow: #ffba33;
$justfix-orange: #ff813a;
$justfix-blue: #5188ff;

$transparent: rgba(0, 0, 0, 0);

$primary: $justfix-blue;
$primary-invert: findColorInvert($primary);

$white: $justfix-white;
$black: $justfix-black;

$button-padding-horizontal: 1.5rem;

// TODO: Remove these old color variables:
$justfix-blue-lightened: #84c2e1;
$justfix-blue-white: #ebf9ff;

$link: $justfix-blue;
$info: #003d57;
$read-more: #37bc9b;

$warning-lightened: #ffefb2;
$warning-darkened: #f7c913;
