$justfix-blue: #0096D7;

$link: $justfix-blue;
$info: #003D57;

$transparent: rgba(0,0,0,0);

$primary: $justfix-blue;
$primary-invert: findColorInvert($primary);

$button-padding-horizontal: 1.5rem;

$family-primary: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;