.changes-page {
    .content h2.date-and-month {
        margin-top: 2em;
        padding-bottom: 16px;
        border-bottom: 1px solid lightgray;
    }

    .hero-body {
        max-width: 720px;
    }
}
