.contact-page {
  .container {
    width: 100%;
    max-width: 550px;
    .field {
      margin: 2rem 0 4rem 0;
    }
    .email-form {
      max-width: 400px;
      // Remove bottom margin when field is part of email form
      // to accomodate response messages that appear below
      .field {
        margin-bottom: 1rem;
      }
    }
  }
}
