.contact-page {

    .container {
        width: 100%;
        max-width: 550px;
        .field {
            margin: 2rem 0 4rem 0;
        }
        .email-form {
            max-width: 400px;
        }
    }
}