@charset "utf-8";

@import "../../node_modules/bulma/sass/utilities/functions.sass";
@import "~bulma/sass/utilities/initial-variables.sass";

@import "_vars.scss";
@import "_design-system.scss";
@import "_custom.scss";


section {
  background-color: $justfix-white  !important;
}

.section-title {
  margin-bottom: 0.5rem;
}

// COLORS:


#palette-swatches {
  display: flex;

  .color-info {
    padding: 10px;
  }

  div div {

    &.bg-jf-black,
    &.bg-jf-grey-dark {
      p {
        color: $justfix-white
      }
    }
  }
}

// TYPOGRAPHY:

#type-samples {
  display: flex;
  flex-wrap: wrap;

  div {
    margin: 10px;
  }

  #mobile-text {
    @include mobile-typography;
  }

  #desktop-text {
    @include desktop-typography;
  }
}

// BUTTONS:

#button-samples .button {
  margin: 10px;
}

@import "~bulma/bulma.sass";
@import "~bulma-divider";