@import "_vars.scss";

.jf-footer {
  input,
  .button {
    height: $spacing-09;
  }
  .jf-email-form {
    .button {
      background-color: $justfix-black;
      color: $justfix-white;
      border: 1px solid $justfix-white;

      &:focus,
      &:hover {
        background-color: $justfix-white;
        color: $justfix-black;
        transition: all 0.1s linear;
      }
    }
  }
}
