@import "_vars.scss";

.header {
    width: 100%;
    &.navbar.is-transparent {
        background-color: $transparent;
        position: absolute;

        .navbar-item {
            .button:hover, .button:focus {
                color: #434a54;
            } 
        }
    }
    .navbar-dropdown {
        min-width: 180px;
        .navbar-item:hover {
            font-weight: 600;
            transition: 0.1s;
            background-color: white;
        }
    }

    /** Patch for IE Bug with bulma navbar class */
    .navbar-item.is-hoverable:hover .navbar-dropdown {
        display: block;
    }
    .button {
        min-width: 120px;
    }
    .tag.is-warning {
        border-radius: 0;
        transform: rotate(-4deg);
    }
}