@import "_vars.scss";
@import "_design-system.scss";
@import "~bulma/sass/utilities/initial-variables.sass";

// This placeholder replaces the header when it detaches to
// become fixed, preventing jump in page content
.jf-sticky-phantom {
  @include mobile {
    display: none;
    height: $navbar-height-mobile;
    background-color: $white;

    &.jf-sticky {
      display: block;
    }
  }
}

.header {
  width: 100%;
  background-color: $white;
  font-size: 2.25rem;

  @include mobile {
    &.jf-sticky {
      position: fixed;
      top: 0;
      z-index: 10;
    }
  }

  .navbar {
    height: $navbar-height;
    border-bottom: 1px solid $black;
    z-index: inherit;

    @include mobile {
      height: $navbar-height-mobile;
      min-height: unset;
    }

    .navbar-brand {
      height: inherit;
      min-height: unset;

      .navbar-item {
        padding: 2rem 1.75rem;
        transition: none;

        &.is-active {
          background-color: $black;
          color: $white;
        }

        &:first-child {
          @include desktop {
            border-right: 2px solid $black;
          }
        }

        img {
          max-height: unset;
        }

        .navbar-burger {
          align-self: center;
          font-size: 1.5rem;

          &:hover {
            background-color: inherit;
            text-decoration: underline;
            text-underline-offset: 0.25rem;
          }
        }

        &:last-child {
          border-left: 1px solid $black;
        }
      }
    }

    .navbar-menu {
      // Make sure navbar menu appears above other page content:
      z-index: 100;
      position: absolute;
      right: 0;

      @include desktop {
        width: 325px;
        box-sizing: border-box;
        border-width: 0px 0px 1px 1px;
        border-style: solid;
        border-color: #faf8f4;
        margin-left: auto;
      }

      @include mobile {
        width: 100%;
        height: calc(100vh - #{$navbar-height-mobile});
      }

      .navbar-end {
        height: 100%;

        .navbar-item {
          @include mobile-h3;
          font-variant: normal;
          background-color: inherit;

          &a:hover {
            text-decoration: underline;
          }

          &[aria-current="page"] {
            padding-left: 2.5rem;
            text-indent: calc(-1 * #{$spacing-05 + $spacing-04});
            text-decoration: none;

            &::before {
              content: "▪";
              margin-right: $spacing-05;
              font-size: 1.5rem;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }

  // Make only the navbar have absolute position on mobile
  &.is-absolute {
    @media screen and (max-width: $tablet) {
      position: unset;

      .navbar {
        position: absolute;
        width: 100%;
      }
    }
  }

  .navbar-dropdown {
    width: 100%;

    .navbar-item:hover {
      font-weight: 600;
      transition: 0.1s;
      background-color: $white;
    }
  }

  /** Patch for IE Bug with bulma navbar class */
  .navbar-item.is-hoverable:hover .navbar-dropdown {
    display: block;
  }

  .button {
    min-width: 120px;
  }
}
