@import "_vars.scss";
@import "~bulma/sass/utilities/initial-variables.sass";

$navbar-height: 7rem;
$navbar-height-mobile: 4.375rem;

.header {
  width: 100%;
  z-index: 30;
  background-color: $white;
  font-size: 2.25rem;

  .navbar {
    height: $navbar-height;
    border-bottom: 1px solid $black;

    @media screen and (max-width: $desktop) {
      height: $navbar-height-mobile;
    }

    .navbar-brand {
      height: inherit;

      .navbar-item {
        padding: 2rem 1.75rem;
        &:first-child {
          @media screen and (min-width: $desktop) {
            border-right: 2px solid $black;
          }
        }
        img {
          max-height: unset;
        }
      }
      .navbar-burger {
        align-self: center;
        span {
          height: 2px;
        }
      }
    }
  }

  // Make only the navbar have absolute position on mobile
  &.is-absolute {
    @media screen and (max-width: $tablet) {
      position: unset;

      .navbar {
        position: absolute;
        width: 100%;
      }
    }
  }
  .navbar-dropdown {
    width: 100%;
    .navbar-item:hover {
      font-weight: 600;
      transition: 0.1s;
      background-color: $white;
    }
  }

  /** Patch for IE Bug with bulma navbar class */
  .navbar-item.is-hoverable:hover .navbar-dropdown {
    display: block;
  }
  .button {
    min-width: 120px;
  }
  .tag.is-warning {
    border-radius: 0;
    transform: rotate(-4deg);
  }
}
