@import "_vars.scss";
@import "~bulma/sass/utilities/initial-variables.sass";

.learning-center-page {
  .hero {
    .image.landing-illustration {
      margin-bottom: 2rem;

      @media screen and (min-width: $tablet) {
        margin: 0 17%;
      }
    }

    .hero-body .button {
      font-size: 0.85rem;
    }

    .search-bar {
      padding-bottom: 0.25rem;

      .search-by {
        margin-top: 0.25rem;
      }
    }
  }

  .dropdown-item {
    white-space: normal;

    &:not(:first-child) {
      border-top: 1px solid #eee;
    }
  }
}

.learning-center-page,
.category-page {
  .hero {
    .hero-body .button {
      margin: 0.35rem;

      &.is-outlined:not(:hover):not(:focus) {
        opacity: 0.5;
        &.is-warning {
          opacity: 1;
          color: $justfix-yellow;
        }
      }
    }

    .back-to-overview {
      @media screen and (max-width: $tablet) {
        padding: 0 1.5rem;
      }
    }
  }

  .article-preview {
    padding: 3rem;
    margin-bottom: 3rem;

    @media screen and (max-width: $tablet) {
      padding: 3rem 1.5rem;
      margin-bottom: 0rem;

      &.box {
        border-radius: 0px;
        box-shadow: none;
        border-top: 1px solid #eee;
      }
    }

    .tags.is-hidden-tablet {
      margin-top: 1.5rem;
    }

    .tag {
      padding: 0 0.75rem;
      &:hover {
        opacity: 0.6;
        text-decoration: none;
      }
    }
  }
}

.article-page {
  /* Fix for a known bug in Bulma where columns are wider than mobile viewport */
  @media screen and (max-width: $tablet) {
    overflow: hidden;
  }

  .hero-body {
    padding-bottom: 0;
  }

  .menu {
    padding-right: 1rem;
    margin-left: 1.5rem;

    &.is-hidden-desktop {
      .menu-list {
        padding-left: 1.25rem;
      }
    }

    &.is-hidden-touch {
      margin: 4rem 0;

      .menu-label {
        padding-left: 0.75rem;
      }
    }
  }

  .sticky {
    position: sticky;
    top: 2rem;
  }

  .is-divider.light {
    margin: 0 0 1rem 0;
  }

  .article-section {
    padding: 1rem 0;

    .content {
      @media screen and (max-width: $tablet) {
        margin-bottom: 0.5rem;
      }

      .title {
        line-height: 1.2;
      }
    }

    .cta-wrapper {
      @media screen and (min-width: $tablet) {
        padding: 0 4rem;
      }

      & > div {
        max-width: 500px;
      }
    }

    .cta {
      padding: 2.5rem;
      border-radius: 10px;
      border: 1px solid $primary;

      .label {
        margin-top: -3.35rem;
        small {
          padding: 0.5rem;
        }
      }

      &.all-tools {
        border-color: $justfix-blue;
      }

      p {
        padding-bottom: 1rem;
      }
    }

    .secondary-cta {
      line-height: 1.3;
      padding: 1rem;
    }
  }

  .footer-ctas {
    padding-bottom: 3rem;

    .hero.footer-cta .hero-body {
      padding-bottom: 0;
    }
  }

  .table-of-contents {
    .columns {
      margin-bottom: 3rem;

      .column {
        li {
          margin-bottom: 1rem;
        }

        @media screen and (max-width: $tablet) {
          padding-top: 0;
          padding-bottom: 0;

          /* Make last divider disappear on mobile */
          &:last-child {
            .table-of-contents-section:last-child {
              ul {
                .is-divider {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
