@import "_vars.scss";
@import "~bulma/sass/utilities/initial-variables.sass";

.jf-article-page {
  .article-section ul {
    list-style: square;
  }

  .menu {
    &.sticky {
      position: sticky;
      top: $spacing-08;
    }

    li a:hover {
      text-decoration: none;
      background-color: $light;
    }
  }

  .jf-take-action-card {
    border-left: 12px solid $justfix-blue;
    border-radius: 4px;
  }
}
