.mission-page {
  .hero {
    &.problem {
      .hero-body {
        padding-top: 5rem;
      }
    }

    .hero-body {
      width: 100%;
      max-width: 720px;

      .cta {
        margin: 5rem 0;
        padding: 2.5rem;
        border-radius: 10px;
      }

      // Override default blockquote styling:
      blockquote {
        background-color: unset;
        border-left: none;
        padding-top: 0px;
      }

      .columns {
        margin-top: 1.5rem;

        .button {
          width: 100%;
        }
      }

      .image.approach-icon {
        width: 50px;
        height: 50px;
        margin-bottom: 1.25rem;
        margin-top: 1.25rem;

        img {
          width: inherit;
          height: inherit;
        }
      }
    }
  }

  h3,
  p,
  strong {
    color: inherit;
  }
  h3 {
    font-size: 1.75rem;
  }
  p {
    font-size: 1.25rem;
  }
}
