.partners-page {
    .hero-body {
        max-width: 720px;
    }
    .logos {
        padding-bottom: 3rem;
        .logo {
            padding: 2rem; 
            .image {
                width: 150px;
                height: 150px;
            }
        }
    }
}