@import "_vars.scss";

.press-page {
  .jf-press-title {
    font-variant: all-small-caps;
  }
  .image {
    border: 1px solid $justfix-black;
    border-radius: 9999px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
