@import "_vars.scss";

.level.section {
  background-color: $read-more;
  padding: 1.5rem 3rem;

  &:hover {
    background-color: lighten($read-more, 5%);
    transition: 0.3s;
  }

  .arrow-mobile {
    margin-left: 1.5rem;
  }
}
