
.resources-page {
    .hero .hero-body .button {
        margin: 0.5rem;
    }
    .article-preview {
        padding: 3rem;
        margin-bottom: 3rem;

        .tag:hover {
            opacity: 0.6;
            text-decoration: none;
        }
    }
}

.article-page {
    .article-section {
        margin-bottom: 4rem;
        & .cta {
            padding: 2.5rem;
            border-radius: 10px;

            p {
                padding-bottom: 1rem;
            }
        }
    }
}