@import "_vars.scss";
@import "~bulma/sass/utilities/initial-variables.sass";

.resources-page {
    .hero {

        .back-to-overview {
            @media screen and (max-width: $tablet) {
                padding: 0 1.5rem;
            } 
        }
    
        .hero-body .button {
            margin: 0.35rem;
            font-size: 0.85rem;
        }

    }

    .dropdown-item {
        white-space: normal;

        &:not(:first-child) {
            border-top: 1px solid #eee;
        }
    }
    
    .article-preview {
        padding: 3rem;
        margin-bottom: 3rem;

        @media screen and (max-width: $tablet) {
            padding: 3rem 1.5rem;
            margin-bottom: 0rem;

            &.box {
                border-radius: 0px;
                box-shadow: none;
                border-top: 1px solid #eee;
            }
        }

        .tags.is-hidden-tablet {
            margin-top: 1.5rem;
        }

        .tag {
            padding: 0 0.75rem;
            &:hover {
                opacity: 0.6;
                text-decoration: none;
            }
        }
    }
}

.article-page {
    /* Fix for a known bug in Bulma where columns are wider than mobile viewport */
    @media screen and (max-width: $tablet) {
        overflow: hidden;
    }

    .hero-body {
        padding-bottom: 0;
    }

    .menu {
        padding-right: 1rem;
        margin-left: 1.5rem;

        &.is-hidden-desktop {
            .menu-list {
                padding-left: 1.25rem;
            }
        }

        &.is-hidden-touch {
            margin: 4rem 0;
        
            .menu-label {
                padding-left: 0.75rem;  
            }

        }
    }

    .sticky {
        position: sticky;
        top: 2rem;
    }

    .article-section {
        padding: 1rem 0;
         .title {
            line-height: 1.2
         }
         .cta {
            padding: 2.5rem;
            border-radius: 10px;

            p {
                padding-bottom: 1rem;
            }
        }
    }

    .footer-ctas {
        padding-bottom: 3rem;

        .hero.footer-cta .hero-body {
            padding-bottom: 0;
        }
    }
    
}