@import "index.scss";

#team {
  .jf-team-title {
    @include touch {
      text-align: center;
    }
  }

  .jf-members.columns {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .jf-member-card {
    @include touch {
      float: left;
    }
  }

  .jf-alumni-list {
    @include desktop {
      column-count: 2;
    }
  }
}
