@import "index.scss";

.team-title {
  @include mobile {
    text-align: center;
  }
}

.photo {
  height: 327px;
  width: 327px;
}

// .team-page {
//   .columns {
//     margin: 2rem;
//     &.is-multiline {
//       margin: 0 2rem 2rem 2rem;
//     }
//     .column.team-member {
//       padding: 2rem;
//       .image {
//         margin-bottom: 1.25rem;
//       }
//     }
//     .field {
//       margin-bottom: 1.25rem;
//     }
//     .column.director {
//       margin: 1.25rem 0;
//       padding: 0 2rem;
//       .read-more-button {
//         display: inline;
//         color: $link;
//         cursor: pointer;
//         text-decoration: none;
//         font-style: oblique;
//         white-space: nowrap;

//         &:hover {
//           color: $grey-darker;
//         }
//       }
//     }
//   }

//   .directors {
//     margin-bottom: 4rem;
//   }

//   .design-advisors .subtitle {
//     margin-bottom: 0.5rem;
//   }
// }
